{% extends 'blog/base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Already Logged In</h2>
        <p>You are already logged in as {{ user.username }}.</p>
        <a href="{% url 'home' %}">Go to Home</a>
    {% else %}
        <h2>Log In</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Log In</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up here</a></p>
    {% endif %}
{% endblock %}