{% extends 'blog/base.html' %}

{% block content %}
    <div class="card mt-4">
        <div class="card-body">
            <h2 class="card-title">{{ post.title }}</h2>
            <p class="card-text">{{ post.body }}</p>
            <p class="card-text"><small class="text-muted">By {{ post.author }} on {{ post.created_at }}</small></p>
            {% if user == post.author %}
                <a href="{% url 'post_edit' pk=post.pk %}" class="btn btn-primary">Edit</a>
                <a href="{% url 'post_delete' pk=post.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}
        </div>
    </div>
{% endblock %}